.page-create-event {
  .mui-container {
    table {
      img {
        height: 100px;
      }
      h1 {
        font-size: 18px;
        line-height: 1;
      }
      .material-icons {
        line-height: 1.5;
      }
    }
  }
}